* {
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}