.countriesImg {
  width: 50%;
  height: auto;
  max-height: 640px;

  @media screen and (max-width: 1200px){
    width: 85%
  }

  @media screen and (min-width: 1919px){
    width: auto;
    height: 100%;
  }
}

.aboutFirstHand {
  width: 38%;
  height: auto;

  @media screen and (min-width: 768px) {
    border-radius: 10px;
  }

  @media screen and (min-width: 1024px) {
    border-radius: 0;
    max-height: 750px;
  }

  @media screen and (max-width: 767px){
    width: 100%
  }
}

.handsFeatures {
  height: 60vw;
  width: auto;
  max-height: 580px;
  @media screen and (max-width: 1199px){
    width: 100%;
    height: auto;
  }
}

.aboutInvictus {
  width: 50%;
  height: auto;
  max-height: 680px;

  @media screen and (max-width: 1199px){
    width: 100%;
    max-height: none;
  }
}